<ion-view view-title="Liste des villes">
    <ion-nav-buttons side="right"> 
        <a class="button button-icon icon ion-search"
                href="#/tab/search">
        </a>
  </ion-nav-buttons> 
  <ion-content> 
      <ion-list>
          <ion-item class="item-icon-right" ng-repeat="city in cities" href="#/tab/playgrounds/{{ city.id }}">
              <h2>{{city.nom}} - {{city.code}}<i class="ion-android-star" ng-if="isFavorite(city.id)"></i></h2>
              <span class="badge badge-energized">
                  <ng-pluralize count="city.value"
                    when="{'0': '0 aire',
                           'one': '1 aire',
                           'other': '{} aires'}">                                  
                  </ng-pluralize>
              </span>
              <ion-option-button class="button button-assertive ion-minus-circled" ng-click="deleteCity(city.id)" ng-if="isFavorite(city.id)"></ion-option-button>
              <ion-option-button class="button button-balanced ion-plus-circled" ng-click="addCity(city.id)" ng-if="!isFavorite(city.id)"></ion-option-button>
              <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
