<ion-popover-view class="my-popover">
        <ion-content>
          <div class="list">
              <a class="item item-icon-left" href="#/city_favorite" ng-click="popover.hide($event)">
                  <i class="icon ion-star"></i>
              Vos villes favorites
            </a>
            <a class="item item-icon-left" href="#/tab/search" ng-click="popover.hide($event)">
                <i class="icon ion-search"></i>
              Rechercher
            </a>
          </div>    
        </ion-content>
</ion-popover-view>    
