<ion-view view-title="Liste des départements">
  <ion-nav-buttons side="right"> 
        <a class="button button-icon icon ion-more" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>  
  <ion-content>
      <ion-refresher
        pulling-text="Rafraîchir..."
        on-refresh="doRefresh()" 
        refreshing-icon="">
      </ion-refresher>
    <ion-list>
        <ion-item class="item-icon-right" collection-repeat="depart in departs" ng-show="depart.value !=0" href="#/tab/cities/{{ depart.id }}"  transitiontype="slide" direction="left" go-native>
            <h2>{{depart.nom}} <i class="code">{{depart.code}}</i></h2>
            <span class="badge badge-energized">
                <ng-pluralize count="depart.value"
                    when="{'0': '0 aire',
                           'one': '1 aire',
                           'other': '{} aires'}">                                  
                </ng-pluralize>
            </span>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-list>  
      
  </ion-content>
</ion-view>
