<ion-view view-title="Identification">
    <ion-content class="background-content" data-tap-disabled="true" padding="true">
        <form name="login_form" ng-submit="doLogin()" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Identifiant</span>
                    <input type="text" ng-model="loginData.username" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" ng-model="loginData.password" required>
                </label>
                <label class="item item_compte_bottom">
                    <ion-toggle class="item-checkbox-compte button-transparent" ng-model="loginData.remember" ng-checked="loginData.remember">Se souvenir de moi</ion-toggle> 
                </label>
                <label class="item item_compte_top">                    
                    <button class="button button-block button-orange" type="submit">Identification</button>
                    <button class='button button-compte icon-left ion-help button-transparent center-block' ng-click="resetting()">J'ai oublié mon mot de passe</button>
                </label>
            </div>
        </form>
        <div class="list">            
            <label class="item item_compte_bottom">
                <p>Vous voulez ajouter une aire de jeux.</p>
                <p>Ou simplement noter ou poster un commentaire.</p>
                <h3>Rejoignez-nous!</h3>
                <p>C'est simple, rapide et gratuit.</p>
                <button class='button button-block button-orange' ng-click="register()">Inscription</button>  
            </label>  
        </div>
    </ion-content>
</ion-view>
