<ion-tabs  id="myTab" class="tabs-positive tabs-icon-top fade-in-not-out">
  <!-- map Tab -->
  <ion-tab title="Carte" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/map/0">
    <ion-nav-view animation="slide-left-right" name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Add Tab -->
  <ion-tab title="Ajouter" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus-outline" href="#/tab/add">
    <ion-nav-view animation="slide-left-right" name="tab-add"></ion-nav-view>
  </ion-tab>
  
  <!-- Favorites Tab -->
  <ion-tab title="Aire de jeux" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/favorites">
    <ion-nav-view animation="slide-left-right" name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Compte Tab -->
  <ion-tab  data-tap-disabled="true" title="Compte" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/compte">
    <ion-nav-view animation="slide-left-right" name="tab-compte"></ion-nav-view>
  </ion-tab>
</ion-tabs>

