html, body{
    height: 100%;
}

.bar-header {
    border-bottom-width: 0px;
}

.fleft{
    float:left;
}

.fright{
    float:right;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.button.button-block.no-margin{
    margin: 0;
}

.button-circle{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.center{
    text-align: center;
}

.center-block {
    display: block;
    /* margin-right: auto; */
    /* margin-left: auto; */
}

    
#img64{
    width: 300px;
    display: block;
    margin:10px auto;
    background-size: contain;
    border: 1px solid #FBB03B;
}

#avatar64{
    width: 200px;
    /* text-align: center; */
    /* align-content: stretch; */
    display: block;
    margin: 0 auto;
}

.list .my-item.item {
  left: 0;
  right: 0;
}

.half_opacity{
    opacity: 0.5;
}

.card .titre h3{
    font-size: 1.1em;
    font-weight: 500;
    color:white;
    line-height: 1em;
}

.card .titre{
    background-color: #FBB03B;
    padding: 10px;
    text-align: center;
}

.item .overflow{
    overflow: visible;
    white-space: normal;
}

.comment-date{
    font-size: 0.5em;
}

.img-playground{
    position: relative;
}

.img-playground .button{
    position: absolute;
    bottom:0;
    left:0;
}

.nbjeux {
    border-radius: 5px;
    border: 2px solid #FBB03B;
    width: 50px;
    height: 50px;
}

.text-center {
    text-align: center;
}

.number_game {
    font-size: 2.1em;
    color: #FBB03B;
    font-weight: 500;
    display: block;
    line-height: 0.9em;
}

.text_game {
    font-size: 0.8em;
    color: #a2a2a2;
}

.footer-large{
    height: 55px;
    border-top: 1px solid #0c63ee;
}

.spinner svg {
  width: 40px;
  height: 40px;
}

.loading-container .loading{
    background-color: transparent;
}

.scroll-bar-indicator
{
	display: none;
}

.item-thumbnail-left, .item-thumbnail-left .item-content {
    min-height: 60px;
    //padding-top: 8px;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image{
    height: auto;
    //max-width: 100px;
    //max-height: 56px;
}

.thumbnail{
    max-width: 120px;
    //max-height: 56px;
}

.item-thumbnail-left .item-content h2 {
  margin: 2px 0 8px 0px;
}

.item-thumbnail-left .item-content p {
  margin-left: 10px;
}

.note_playground, .img {
  display: inline-block;
  height: 20px;
  margin-top: 10px;
  width: 200px;
}
img
.note_playground_list{
    padding-left: 10px;
}

.note_playground .casquette, .note_playground_list .casquette {
  color: #d1d1d1;
  font-size: 20px;
  position: relative;
  display: inline-block;
  line-height: 20px;
  height: 20px;
}

.note_playground .casquette.empty.left.big, .note_playground_list .casquette.empty.left.big{
  width: 13px;
  background: url(../img/casquetteblanche_icon_left_big.png) no-repeat 0 0;
  margin-right: -4px;
}

.note_playground .casquette.empty.right.big, .note_playground_list .casquette.empty.right.big{
  width: 13px;
  background: url(../img/casquetteblanche_icon_right_big.png) no-repeat 0 0;
}

.note_playground .casquette.full.left.big, .note_playground_list .casquette.full.left.big{
  width: 13px;
  background: url(../img/casquetteblanche_icon_full_left_big.png) no-repeat 0 0;
  margin-right: -4px;
}

.note_playground .casquette.full.right.big, .note_playground_list .casquette.full.right.big{
  width: 13px;
  background: url(../img/casquetteblanche_icon_full_right_big.png) no-repeat 0 0;
}

#note_value {
    color: white;
    display: block;
    background: #0a9ec7;
    border-radius: 100%;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    float: right;
    margin-top: 10px;
}

.modal {
    top: 20%;
    right: 10%;
    bottom: 20%;
    left: 10%;
    min-height: 240px;
    height: auto;
    width: 80%;
}

.modal-register{
    top: 0;
    left:0;
    right: 0;
    min-height: 100%;
    width: 100%;
}

.modal-parameter, .modal-vote, .modal-comment{
    top: 20%;
    right: 10%;
    bottom: 40%;
    left: 10%;
    min-height: 240px;
    height: auto;
    width: 80%;
}

.modal-comment textarea{
    padding-bottom: 20px;
}

.my-range{
    display: block;
    padding:0;
}

.my-range input{
    width: 100%;
}

.distance{
    padding-left: 10px;
}

.item-body h2{
    border-bottom: 1px solid #ccc;
}

.item-body img .initWidth{
    width: 16px;
}

.item-body img .full-image{
    width: 100%;
}

.item-thumbnail-left .playground-body{
    float:left;
}

.playground-body .distance{
    font-weight: 600;
    font-size: 15px;
    color: #787878;
}


.border-right{
    border-right: 1px solid #ccc;
}

.button-orange{
    background-color: #FBB03B;
    border: 1px solid transparent;
    color: white;
    font-weight: 600;
    //border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 30px;
    min-height: 30px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.item-center{
    display: block;
    margin: 0 auto;
}

//MAP
#map {
  width: 100%;
  height: 100%;
  background-color: red;
}

#map img {
    max-width: none;
}

/*.scroll{
    height: auto;
    overflow-y: auto;
}*/

#map_content .scroll, #map_content .scroll .slider, #map_content .scroll .slider-slide {
  height: 100%;
}


.content{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 400px;
  height: 65px;
}

.content img{
    height: 65px;
    background-size: cover;
    background-position: center;
    display: list-item;
    padding-right: 5px;
    padding-top: 5px;
}

.content h4{
    font-size: 14px;
    padding: 0;
}

.content .bodyContent{
    display: list-item;
    min-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

.content i{
    display: list-item;
    padding-top: 22px;
    text-align: right;
}

.content .average{
    font-weight: 600;
    font-size: 18px;
    color: #FBB03B;
}

.content .distance {
    font-weight: 600;
    font-size: 20px;
    padding-left: 15px;  
    color: #787878;
}

.col-50 .input-label{
    padding-left: 10px;
}

.col-50 .range input{
    width: 100%;
    
}

.loading_map{
    color: black;
    font-weight: 800;
}

.button-transparent{
    border: 1px solid transparent; 
    background-color: transparent;
}

.item_compte_bottom{
    /* border-bottom: 1px solid transparent; */
    padding: 7px;
    /* width: 80%; */
}

.item_compte_top{
    border-top: 1px solid transparent;
    padding-top: 0;
    margin-bottom: 10px;
}

.item-checkbox-compte .checkbox{
    left: 0;
}

.item-checkbox-compte{
    padding-left: 40px;
}

.button-compte {
    padding: 0;
    min-height: 44px;
    margin: 0;
}

button-clear.text-white{
    color: white;
    font-weight: 400;
}


.bar.bar-calm {
    background-color: #0097aa;
}

#myTab.tabs-positive > .tabs{
    border-color: #0097aa;
    background-color: #0097aa;
    background-image: none;
    -webkit-box-shadow: 0 5px 5px #888888;
    -moz-box-shadow: 0 5px 5px #888888;
    box-shadow: 0 5px 5px #888888;
}


.bar.bar-calm.footerBar{
    background-color: #FBB03B;
    border: 1px solid transparent;
}

button-orange:hover{
    color: white;
}

.modal-vote, .modal-parameter, .modal-comment{
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  //bottom: 5%;
}



.code {
    font-size: 0.8em;
    color: #a2a2a2;
    font-style : italic;
}

.text-comment{
    width: 100%;
    height: auto;
}

.slide-in-left {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all linear 400ms;
  transition: all linear 400ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }


.scale-in {
	-webkit-transform: scale(0.0);
  	transform: scale(0.0);
  	opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
	-webkit-transition: all cubic-bezier(.1, .7, .1, 1) 800ms;
 	transition: all cubic-bezier(.1, .7, .1, 1) 800ms;
}
.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
	-webkit-transform: scale(1);
 	transform: scale(1);
	opacity: 1;
}
.scale-in.ng-leave,
.scale-in > .ng-leave {
	-webkit-transition: all ease-in-out 250ms;
 	transition: all ease-in-out 250ms;
}

.item-toggle .toggle {
    right: 40px;
}

.background-content{
     background-color: #E3E0DB;
}


.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}

.wait-spinner svg{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.wait-map{
    display: block;
    margin:0 auto;
    /* padding: 3px; */
}

.wait-map .message {
    padding-bottom: 20px;
}

.wait-map .message{
    /* padding-bottom: 14px; */
    /* margin-bottom: 20px; */
    /* vertical-align: middle; */
    padding-top: -20px;
    /* margin-top: -12px; */
}

.message{
    color: black;
    font-size: 1em;
}

.platform-android .my-popover{
    height: 110px;
}

.ion-android-star{
    color:#0a9ec7;
    height: 20px;
    width: 20px;
}

@-webkit-keyframes moveSlideshow {
    0% { left: 60px; }
    100% { left: 10px; }
}
@-moz-keyframes moveSlideshow {
    0% { left: 60px; }
    100% { left: 10px; }
}

.slide-hand{
    -webkit-animation: moveSlideshow 2s infinite; 
    animation: moveSlideshow 2s infinite;
    position: absolute;
    top: 10px;
    left: 60px;    
}

img.slide-hand{
    width: 20px;
}

.item .msg{
    padding-left:100px;
}

.max-index{
    z-index: 999;
}

.icon-left.item-radio .icon {
    margin-right: 15px;
    width: 54px;
    height: 30px;
}

.cadre{
    position: absolute;
    border: 3px dotted red;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
}

.slide-left-right > .ng-enter, .slide-left-right.ng-enter, .slide-right-left.reverse > .ng-enter, .slide-right-left.reverse.ng-enter {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }
.slide-left-right > .ng-leave.ng-leave-active, .slide-left-right.ng-leave.ng-leave-active, .slide-right-left.reverse > .ng-leave.ng-leave-active, .slide-right-left.reverse.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }
.slide-left-right.reverse > .ng-enter, .slide-left-right.reverse.ng-enter, .slide-right-left > .ng-enter, .slide-right-left.ng-enter {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }
.slide-left-right.reverse > .ng-leave.ng-leave-active, .slide-left-right.reverse.ng-leave.ng-leave-active, .slide-right-left > .ng-leave.ng-leave-active, .slide-right-left.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }